*{
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
}

/* main{
    width: 80%;
    background-color: white;
} */

#container{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}
#ppic-intro{
  display: grid;
    grid-template-columns: 1fr 1.75fr;
    align-items: center;
    height: 100vh;
    text-align: center;
    width: 100%;
    min-height: 80vh;
}
#ppic-intro figure img{
  width: auto;
  margin-top: 0%;
  margin-left: 15%;
  border-radius: 20%;
  border: solid white;
  border-width: 10px;
  padding: 5px;
}

/* .padded-box{
    border: 1px solid black;
    background-color: #f0f0f0;
    padding-left: 10px;
    padding-top: 100px;
    margin-left: 50px;
    
}

.padded-box p{
    background-color: aqua;
} */


/* .main-content{
    width: 70%;
    margin: 0 auto;
} */


.nav-link a {
    color:black;
    text-decoration: none;

}


nav ul{
    /* display: inline; */
    margin: 0;
    padding: 0;
    list-style-type: none;
}


nav ul li{
    display: inline;
    margin-right: 20px;

}

/* #main-heading{
    color:black;
    text-align: center;
} */

nav{
    background-color: black;
    color: white;
    padding: 10px;
    display: flex;
    justify-content:space-between;
    padding: 1rem 1%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    /* padding-top: 5px;
    padding-bottom: 5px;
    margin: 20px;
    border: 5px solid black; */
}



.dropbtn {
    background-color: grey;
    /* color: white; */
    padding: 10px;
    /* font-size: 16px; */
    border: none;
    cursor: pointer; 
  }
/*
#met {
    background-color: turquoise;
}
*/

/*selector{
    rule1: value
    rule2: value2
}
*/

  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: black;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: white; color: black;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  footer p{
    text-align: center;
  }

  html {
    position: relative;
    min-height: 100%;
}

footer {
    /* background-color: orange; */
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
}
